body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* margin: 0 auto; */
}

form {
    display: block;
    margin: 0 auto;
    padding: 5em;
    background: linear-gradient(grey, white);
    border-radius: .25em;
    margin-bottom: 2em;
}